.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
}

.part.left {
    text-align: left;
    margin-right: auto;
}

.part.center {
    text-align: center;
}

.part.right {
    text-align: right;
    margin-left: auto;
}

.part.right:hover {
    .text {
        color: var(--text);
    }
    .icon {
        background-color: var(--text);
        transform: translateX(10px);
    }
}

.part.left:hover {
    .text {
        color: var(--text);
    }
    .icon {
        background-color: var(--text);
        transform: translateX(-10px) rotate(180deg);
    }
}

.part {
    flex: 1;
}

.part * {
    display: inline-block;
    vertical-align: middle;
    color: var(--border);
}

.part .text {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.2s;
}

.icon {
    display: inline-block;
    mask-image: url('/internal/right-arrow-next.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--border);
    width: 1rem;
    height: 1rem;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    transition: background-color 0.2s, transform 0.2s;
}

.icon.reverse {
    transform: rotate(180deg);
}

@media screen and (max-width: 1200px) {
    .part .text {
        width: 150px;
    }
}

@media screen and (max-width: 1000px) {
    .container {
        font-size: 0.8rem;
    }

    .page-indicator {
        line-height: 1.5rem;
    }

    .part {
        height: 1.5rem;
        text-overflow: ellipsis;
    }

    .center {
        display: none;
    }

    .icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .part .text {
        width: 100px;
    }
}
