.part.left {
    text-align: left;
    margin-right: auto;
}

.part.center {
    text-align: center;
}

.part.right {
    text-align: right;
    margin-left: auto;
}

.page-indicator {
    line-height: 2rem;
}

.part {
    display: inline-block;
    flex: 1;
    height: 2rem;
    margin-top: 3rem;
}

.part * {
    display: inline-block;
    vertical-align: middle;
}

.part .text {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon {
    display: inline-block;
    mask-image: url('/internal/right-arrow-next.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--text);
    width: 2rem;
    height: 2rem;
}

.icon.reverse {
    transform: rotate(180deg);
}

.container {
    margin: 2rem auto;
    display: flex;
}

@media screen and (max-width: 1000px) {
    .container {
        font-size: 0.8rem;
    }

    .page-indicator {
        line-height: 1.5rem;
    }

    .part {
        height: 1.5rem;
        text-overflow: ellipsis;
    }

    .center {
        display: none;
    }

    .icon {
        width: 1.5rem;
        height: 1.5rem;
    }

    .part .text {
        width: 100px;
    }    
}
