.container {
    width: 300px;
    margin: 0 auto;
    transition: transform 300ms;
}

.fixed {
    width: 0;
    margin: 0 2rem;
    transition: width 300ms;
    position: relative;
    z-index: 10;
}

.fixed .container {
    position: fixed;
    transform: translate(-150%, 0);
}

.fixed.open .container {
    transform: translate(0, 0);
}

.fixed.open {
    width: 300px;
}

.links {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.sectionButton,
.docButton {
    display: block;
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 0.5rem;
    cursor: pointer;
    font: inherit;
}

.sectionButton:last-child,
.docButton:last-child {
    margin-bottom: 0;
}

.indent {
    position: relative;
    --curve: 5px;
}

.indent[data-indent="0"] {
    color: var(--text);
    font-weight: 500;
}

.indent[data-relation="child"]:not([data-indent="0"])::before {
    content: "";
    display: block;
    width: 1px;
    height: 5px;
    background: linear-gradient(transparent, var(--border));
    position: absolute;
    left: -15px;
    top: calc(2px - 5px);
}

.indent[data-relation="child"]:not([data-indent="0"])::after {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-bottom-left-radius: var(--curve);
    position: absolute;
    left: -15px;
    top: 2px;
}

.indent[data-relation="sibling"]:not([data-indent="0"])::before {
    content: "";
    display: block;
    width: 1px;
    height: calc(calc(1rem * var(--distance)) + 1rem + 3px);
    background: linear-gradient(transparent, var(--border) 20px);
    position: absolute;
    left: -15px;
    top: calc(-1rem - 3px);
}

.indent[data-relation="sibling"]:not([data-indent="0"])::after {
    content: "";
    display: block;
    width: 10px;
    height: 12px;
    border-left: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-bottom-left-radius: var(--curve);
    position: absolute;
    left: -15px;
    top: -2px;
}

@media screen and (hover: hover) {
    .indent {
        color: color-mix(in srgb, var(--description), var(--text) 20%);
    }

    .indent:hover {
        color: var(--text);
    }
}

.indent[data-indent="1"] {
    margin-left: 1rem;
}

.indent[data-indent="2"] {
    margin-left: 2rem;
}

@media screen and (min-width: 1560px) {
    .onThisPageWrapper {
        display: none;
    }
}
