.container {
    width: 100%;
    background-color: color-mix(in srgb, var(--background), var(--text) 5%);
    border-radius: 15px;
    padding-left: 1rem;
    padding: 1rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}