.nav {
    --color: color-mix(in srgb, var(--background), transparent 20%);
    position: fixed;
    height: 4rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px var(--background);
    z-index: 100;
}

.title {
    line-height: 2rem;
    vertical-align: middle;
    margin-left: 0.75rem
}

.logo {
    height: 2rem;
    vertical-align: middle;
}

.left {
    width: 20rem;
    margin: 0 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}
  
.right {
    padding-right: 2rem;
    width: 10rem;
}

.center {
    flex: 1;
    text-align: center;
}
  
.right > * {
    margin-right: 0.5rem;
}
