.nav {
    --color: color-mix(in srgb, var(--background), transparent 20%);
    position: fixed;
    height: 4.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    background-color: var(--color);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 100;
    transition: background-color 0.5s ease;
}

.title {
    display: inline-block;
    font-family: "Cal Sans";
    font-size: 1.75rem;
    line-height: 3rem;
    vertical-align: middle;
    margin-left: 0.5rem;
    position: relative;
    letter-spacing: 1px;
    padding-right: 0.25rem;
}

.logo {
    height: 3rem;
    width: 3rem;
    vertical-align: middle;
    object-fit: cover;
    position: relative;
    display: inline-block;
}

.left {
    display: flex;
    align-items: center;
    width: 20rem;
    margin: 0 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.right {
    padding-right: 2rem;
    width: 20rem;
    text-align: right;
}

.center {
    flex: 1;
    text-align: center;
}

.right > * {
    margin-right: 0.5rem;
}

.version {
    font-weight: 400;
    letter-spacing: -2px;
    font-size: 1.75rem;
    transform: translateY(0.15rem);
}

.tag {
    position: relative;
    z-index: 50;
    transform: translate(-2.1rem, 1.1rem) scale(0.8);
    display: inline-block;
    font-size: 0.85rem;
    color: color-mix(in srgb, white 85%, transparent);
    padding: 0.2rem 0.4rem;
    border-radius: 1rem;
    margin-left: 0.25rem;
    background: linear-gradient(to bottom right, #d5940e, #e500ea);
    border: 2pt solid var(--background);
    transition: 200ms cubic-bezier(0.39, 0.575, 0.565, 1);
}

*:hover + .tag, .version:has([open]) + .tag {
    transform: translate(1.25rem, 0);
}

@media screen and (max-width: 1000px) {
    .nav {
        height: 4rem;
    }

    .title {
        font-size: 1.5rem;
    }

    .tag {
        transform: translate(-3rem, 0.7rem) scale(0.8);
        font-size: 0.8rem;
        padding: 0.1rem 0.4rem;
    }

    .logo {
        width: 2.5rem;
        height: 2.5rem;
    }

    .right {
        display: none;
    }

    .left {
        margin-right: 0;
    }

    .center {
        display: none;
    }
}

@media screen and (max-width: 320px) {
    .left {
        margin-left: 0;
    }
}

.fullPageIcon {
    font-size: 1rem;
    display: inline-block;
    line-height: 1;
}
