.container {
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.jumbotron {
    /* This should be configurable */    
    mask-image: url('/internal/amber-docs.svg');
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    background-color: var(--text);
    width: 225px;
    height: 225px;
    margin: 0 auto;
}

.title {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 3.5rem;
}

.bold {
    font-weight: 700;
    margin-right: 1rem;
}

.light {
    font-weight: 300;
}

.big-link {
    font-size: 1rem;
    display: inline-block;
    margin: 0 auto;
    margin-top: 4rem;
    opacity: 0.5;
    border: 1px solid var(--text);
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.big-link:hover {
    opacity: 1;
}

.search {
    width: 450px;
}

@media screen and (max-width: 1000px) {
    .jumbotron {
        width: 150px;
        height: 150px;
    }
    
    .title {
        font-size: 3rem;
    }

    .search {
        width: 350px;
    }

    .big-link {
        margin-top: 3rem;
        padding: 0.6rem;
    }
}