/* Base styles */

.base {
    --size: 300px;
    --size-hover: 400px;
    position: relative;
    width: 100%;
    text-align: center;
}

.base input {
    display: inline-block;
    border-radius: 2rem;
    width: var(--size);
    position: relative;
    font-size: 1rem;
    z-index: 3;
    border-radius: 2rem;
    outline: none;
    /* Transition */
    transition: padding 0.3s ease-in-out 0.2s, width 0.3s ease-in-out;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    will-change: padding, width;
}

.base input:focus {
    width: var(--size-hover);
}

.base input::placeholder {
    color: var(--description);
}

/* The search bar in the "body" variant */

.body input {
    --plane-shadow: color-mix(in srgb, var(--shadow), transparent 85%);
    --plane-shine: color-mix(in srgb, var(--shine), transparent 25%);
    border: 1px solid var(--border);
    background: var(--plane-shadow);
    color: var(--description);
    box-shadow: inset var(--plane-shine) 0.2rem 0.2rem 0.5rem, var(--plane-shadow) 0.2rem 0.2rem 0.5rem;
    padding: 0.5rem;
    padding-left: 0.8rem;
    color: var(--text);
    caret-color: var(--border);
}

.body input:focus {
    width: var(--size-hover);
    padding: 0.7rem;
    padding-left: 1rem;
}

/* The search bar in the "title" variant */

.title input {
    position: relative;
    margin: 0 auto;
    padding: 0.80rem;
    background: color-mix(in srgb, var(--background), transparent 50%);
    border: var(--border) solid 1px;
    caret-color: var(--accent);
}

.title input:focus {
    width: var(--size-hover);
}

.title input::selection {
    background-color: var(--accent);
}

.title {
    position: relative;
}

/* The halo effect */

.title::before {
    content: '';
    display: inline-block;
    width: var(--size-hover);
    height: 2.5rem;
    border-radius: inherit;
    background: linear-gradient(
        45deg,
        var(--accent-gradient-left),
        var(--accent-gradient-right)
    );
    filter: blur(70px);
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 2;
    border-radius: 2rem;
    opacity: 70%;
    transform: translate(-50%);
    will-change: filter;
}

.title::after {
    content: '';
    display: inline-block;
    width: var(--size);
    height: 2.5rem;
    border-radius: inherit;
    background: linear-gradient(
        45deg,
        var(--accent-gradient-left),
        var(--accent-gradient-right)
    );
    filter: blur(20px);
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 2;
    border-radius: 2rem;
    opacity: 30%;
    transform: translate(-50%);
    will-change: filter;
    /* Transition */
    transition: width 0.3s ease-in-out;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    will-change: width;
}

.title:has(input:focus)::after {
    width: var(--size-hover);
}

/* The options selection menu */

.options {
    --plane-shadow: color-mix(in srgb, var(--background), transparent 60%);
    --plane-shine: color-mix(in srgb, var(--shine), transparent 25%);
    display: block;
    transform: translateX(-50%) translateY(-1rem) scale(0.3, 0.9) translateZ(0);
    opacity: 0;
    left: 50%;
    width: var(--size-hover);
    position: absolute;
    overflow: hidden;
    text-align: center;
    isolation: isolate;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    background: var(--plane-shadow);
    box-shadow: inset var(--plane-shine) 0.2rem 0.2rem 0.5rem;
    border: var(--border) solid 1px;
    border-radius: 0.75rem;
    z-index: 200;
    transition: opacity 0.1s ease-in-out, transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.options.show {
    display: block;
    transform: translateX(-50%) translateY(0.5rem) scale(1) translateZ(0);
    opacity: 1;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}

.option {
    width: var(--size-hover);
    padding: 0.3rem 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    text-align: left;
    font-size: 0.9rem;
}

.option.disabled {
    opacity: 0.5;
    cursor: default;
}

.option:not(.disabled):hover {
    background: color-mix(in srgb, var(--shadow), transparent 55%);
}

.option.selected {
    background: color-mix(in srgb, var(--shadow), transparent 55%) !important;
}

.shortcut {
    position: absolute;
    left: 50%;
    margin-left: calc(var(--size) / 2 - 3.5rem);
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

@media screen and (max-width: 1000px) {
    .base {
        --size: 250px;
        --size-hover: 300px;
    }
}