.container {
    width: 300px;
    transition: transform 300ms;
}

.fixed {
    width: 0;
    margin: 0 2rem;
    transition: width 300ms;
}

.fixed .container {
    position: fixed;
    transform: translate(-150%, 0);
}

.fixed.open .container {
    transform: translate(0, 0);
}

.fixed.open {
    width: 300px;
}

.spacer {
    height: 1rem;
}

.links a {
    display: block;
    margin-bottom: 0.5rem;
    text-decoration: none;
}

.links a:last-child {
    margin-bottom: 0;
}