.main {
  margin: 0 auto;
  width: 1000px;
}


.search {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 1rem;
}

.no-hover {
  display: none;
}

@media screen and (hover: none) {
  .no-hover {
    display: block;
  } 
}

@media screen and (max-width: 1920px) {
  .main {
    width: 800px;
  }
}

@media screen and (max-width: 1200px) {
  .main {
    width: 550px;
  }
}

@media screen and (max-width: 1000px) {
  .main {
    width: 80vw;
  }
}

