.big-link {
    font-size: 1rem;
    display: inline-block;
    margin: 0 auto;
    margin-top: 4rem;
    opacity: 0.5;
    border: 1px solid var(--text);
    padding: 0.75rem;
    border-radius: 0.5rem;
    position: relative;
    z-index: 3;
}

.big-link:hover {
    opacity: 1;
}
