name: Synchronize Standard Library Documentation

on:
  schedule:
    - cron: '0 0 * * *'  # Runs daily at midnight UTC
  workflow_dispatch:  # Allows manual dispatch

jobs:
  stdlib-docs-sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: amber-lang/amber
          path: amber

      - name: Build Standard Library Documentation
        uses: lens0021/amber-script-action@dc57beb5ecba232a6d91fed936770629e3224602 # v2.1.4
        id: docs-builder
        with:
          amber-version: 0.5.1-alpha
          script: |
            cd "amber"
            import { env_var_get } from "std/env"
            import { file_glob } from "std/fs"

            main {
              $ cargo build --release $ failed {
                echo "::error::Building Amber failed"
                exit 1
              }
              const amber_executable = "./target/release/amber"
              const files = file_glob("src/std/*.ab") failed {
                echo "::error::Unable to glob files in 'src/std'"
                exit 1
              }

              echo "Building docs..."
              for file in files {
                silent $ {amber_executable} docs --usage {file} $ exited(code): if {
                  code == 0: echo "Successfully generated for '{file}'"
                  code == 1: echo "::error::Docs gen failed for '{file}'"
                  code == 127: echo "::error::Cannot find compiled artifact '{amber_executable}'"
                  else: echo "::error::Unknown error"
                }
              }
              const docs_path = $ realpath src/std/docs $?
              $ echo "docs_path={docs_path}" >> {env_var_get("GITHUB_OUTPUT")?} $?
              echo "Done"
            }

      - uses: actions/checkout@v6
        with:
          path: amber-docs

      - name: Locate New Documentation
        uses: lens0021/amber-script-action@dc57beb5ecba232a6d91fed936770629e3224602 # v2.1.4
        env:
          DOCS_PATH: ${{ steps.docs-builder.outputs.docs_path }}
        with:
          amber-version: 0.5.1-alpha
          script: |
            cd "amber-docs"
            import { env_var_get } from "std/env"
            import { file_exists, file_glob } from "std/fs"

            const config_filename = "config.json"
            const docs_path = trust env_var_get("DOCS_PATH")

            main {
              const files = file_glob("{docs_path}/*.md")?
              if len(files) == 0 {
                echo "::error::No file found in {docs_path}/*.md"
                exit 1
              }

              if not file_exists(config_filename) {
                echo "::error::{config_filename} not found"
                exit 1
              }
              const latest_version = $ jq -r '.allVersions[-1]' {config_filename} $?

              for file in files:
                $ cp {file} docs/{latest_version}/stdlib/doc $ failed:
                  echo "::warning::Failed copy {file}"
              echo "Done"
            }

      - uses: peter-evans/create-pull-request@v8
        with:
          path: amber-docs
          commit-message: &title Synchronize Standard Library Documentation
          branch: stdlib-docs-sync
          title: *title
