name: Synchronize Standard Library Documentation

on:
  schedule:
    - cron: '0 0 * * *'  # Runs daily at midnight UTC
  workflow_dispatch:  # Allows manual dispatch

jobs:
  stdlib-docs-sync:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          repository: amber-lang/amber
          path: amber

      - name: Build Standard Library Documentation
        uses: lens0021/amber-script@adccd0aaadbcb8a20c1234a2e17e05b44bfd4cfe # v2.1.0
        id: docs-builder
        with:
          amber-version: 0.5.1-alpha
          script: |
            import { env_var_get } from "std/env"
            import { file_glob } from "std/fs"

            cd "amber"
            $ cargo build --release $ failed {
              echo "Building Amber failed"
              exit 1
            }
            const amber_executable = "./target/release/amber"
            const files = file_glob("src/std/*.ab") failed {
              echo "::error::Unable to glob files in 'src/std'"
              exit 1
            }

            echo "Building docs..."
            for file in files {
              silent $ {amber_executable} docs --usage {file} $ exited(code): if {
                code == 0: echo "Successfully generated for '{file}'"
                code == 1: echo "::error::Docs gen failed for '{file}'"
                code == 127: echo "::error::Cannot find compiled artifact '{amber_executable}'"
                else: echo "::error::Unknown error"
              }
            }
            const docs_path = trust $ realpath src/std/docs $
            trust $ echo "DOCS_PATH={docs_path}" >> "{env_var_get("GITHUB_OUTPUT")}" $

      - uses: actions/checkout@v6
        with:
          path: amber-docs

      - name: Locate New Documentation
        uses: lens0021/amber-script@adccd0aaadbcb8a20c1234a2e17e05b44bfd4cfe # v2.1.0
        env:
          DOCS_PATH: ${{ steps.docs-builder.outputs.DOCS_PATH }}
        with:
          amber-version: 0.5.1-alpha
          script: |
            import { env_var_get } from "std/env"
            import { file_glob } from "std/fs"

            main {
              const docs_path = trust env_var_get("DOCS_PATH")
              const latest_version = $ jq -r '.allVersions[-1]' config.json $?

              cd "amber-docs"
              for file in trust file_glob("{docs_path}/*.md"):
                $ cp {file} docs/{latest_version}/stdlib/doc $ failed:
                  echo "::error::Failed copy {file}"
            }

      - uses: peter-evans/create-pull-request@v8
        with:
          path: amber-docs
          commit-message: &title Synchronize Standard Library Documentation
          branch: stdlib-docs-sync
          title: *title
